<div class="col-xs-6 col-xs-offset-3 row-padding">
  <div class="page-header text-center">
    <h1>Log in!</h1>
  </div>

  <div class="form text-center">
    <form action="/session" method="POST">
      <%= auth_token %>
  
      <div class="form-group">
        <label for="user_username">Email</label>
        <input class="form-control" type="text" name="user[email]" id="user_username" placeholder="Hire@DougTeixeira.com">

      </div>

      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" class="form-control" name="user[password]" placeholder="Super Secret" id="user_password">
        
      </div>
      
      <div class="form-group">
        <input type="submit" value="Log in" class="btn btn-primary">
      </div>
    </form>
  </div>
 
</div>