<div class="col-xs-12 col-sm-6 text-center">
  <span class="anchor" id="contact"></span>
  <div class="page-header">
    <h1>Want to work with me?</h1>
  </div>

  <h2>Contact me</h2>
  
  <ul class="list-group contact-blurb">
    <li class="list-group-item"><i class="fa fa-phone fa-lg"></i> (908) 872 - 0937</li>
    <li class="list-group-item list-group-link">
      <%= link_to "mailto:teixeira[at]ayosinformatics[dot]com", target: "", alt: "Email" do %>
        <i class="fa fa-envelope-o fa-lg"></i> teixeira@ayosinformatics.com
      <% end %>
    </li>
    <li class="list-group-item list-group-link">
      <%= link_to image_url("DTeixeiraResume.pdf"), target: "_blank", alt: "Resume" do %>
        <i class="fa fa-file-text fa-lg"></i> Resume
      <% end %>
    </li>
  </ul>
</div>

<div class="col-xs-12 col-sm-6">
  <%= render "contact_mes/form" %>
</div>
