<div class="col-xs-12 col-sm-6">
<span class="anchor" id="about"></span>
<div class="page-header">
  <h1 class="text-center">About Me</h1>
</div>


<p>I  graduated in 2011 with a B.S. in Business Administration with specializations in marketing and a minor in psychology. In school, I enjoyed my computer science classes such as Advanced Programming in Java, and have since taught myself web development with the help of AppAccademy.io</p>

<p>At age 22, I co-founded a health IT consulting company where I was able to dable in web development through website builders such as squarespace.com. When I quickly felt limited by site builders, I taught myself full-stack web development and fell in love.</p>

<p>Besides web development, I have a passion for traveling, cooking, and culture. Exploration is in my blood!</p>


<%= render "pages/social_links" %>

</div>

<div class="col-xs-12 col-sm-6">
<%= image_tag("Doug_Santorini.JPG", class: "img-center") %>
</div>