<span class="anchor" id="welcome"></span>
<div class="col-xs-12 col-sm-4">
  <%= image_tag("douglas-teixeira.jpg", class: "img-center") %>
</div>


<div class="col-xs-12 col-sm-8 welcome">
  <h1>We should work together!</h1>

  <p>My name is Doug Teixeira and I am a web developer based in New Jersey who is currently looking for new clients and freelance work as a software engineer.</p>

  <p>I specialize in Ruby on Rails, JavaScript, Backbone.js, jQuery, SQL, HTML, and CSS.</p>

  <p>I also offer Health IT consulting and SEO consulting services. Initial consultations are free!</p>
   <!-- <p class="alert alert-danger text-center"><i class="fa fa-exclamation-circle"></i> I apologize for the appearance while the site is undergoing maintenance.</p> -->
  
</div>
