<div class="col-xs-12 row-padding" id="logo-container">
    <%= image_tag("logo.png", class: "site-logo") %>
    
    <h3 class="text-center">Coming Soon!</h3>
</div>

<div class="col-xs-12  row-padding contact">
  <%= render "contact_mes/new" %>
</div>
