<div class="col-xs-12">
    <%= image_tag("logo.png", class: "site-logo") %>
</div>

<div class="col-xs-12  row-padding">

</div>

<div class="col-xs-12  row-padding contact">
  <%= render "contact_mes/new" %>
</div>
