<div class="col-xs-12">
  <div class="page-header text-center">
    <h1>Snake: <small>(&#8593 &#8595 &#8592 &#8594 keys for controls)</small></h1>
  </div>
  <ul class="grid clearfix">
   
  </ul>
</div>




<%= javascript_include_tag "snake_ui" %>

<script type="application/javascript">
  $(function() {

   var view = new SnakeUI.View($('.grid'), 20, 20);
   view.start();
});

</script>
