<div class="row row-padding">
  <div class="col-xs-12 welcome">
    <%= render "pages/welcome" %>
  </div>
</div>

<div class="row row-padding">
  <div class="col-xs-12 about_me background-image">
    <%= render "pages/about_me" %>
  </div>
</div>

<div class="row row-padding">

  <div class="col-xs-12 projects">
    <%= render "index" %>
  </div>
</div>

