<div class="row">
  <div class="col-xs-12 welcome row-padding">
    <%= render "pages/welcome" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 about_me background-image row-padding">
    <%= render "pages/about_me" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 projects row-padding">
    <%= render "index" %>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12 contact background-image row-padding">
    <%= render "contact_mes/new" %>
  </div>
</div>
