<h2>About Me</h2>

 <p>I am currently freelancing as a full stack web developer for hire.</p>

 <p>I specialize in Ruby on Rails, JavaScript, Backbone.js, jQuery, SQL, HTML, and CSS. I  graduated in 2011 with a B.S. in Business Administration with specializations in marketing and a minor in psychology.</p>

 <p>I have since co-founded a health IT consulting company where I was able to concurrently teach myself web development with the help of appacademy.io.</p>


 <%= render "layouts/social_links" %>

 <p>Example websites:</p>
 <p><%= link_to "http://www.clark-travel.com", "http://www.clark-travel.com", target: "_blank" %></p>
 <p><%= link_to "http://www.BranchburgDoctors.com", "http://www.BranchburgDoctors.com", target: "_blank" %></p>
 <p><%= link_to "http://www.PreventITHealth.com", "http://www.clark-travel.com", target: "_blank" %></p>
 
 <p>This portfolio is currently under construction</p>
