<h2>About Me</h2>

 <p>I am currently freelancing as a full stack web developer for hire.</p>

 <p>I specialize in Ruby on Rails, JavaScript, Backbone.js, jQuery, SQL, HTML, and CSS. I  graduated in 2011 with a B.S. in Business Administration with specializations in marketing and a minor in psychology.</p>

 <p>I have since co-founded a health IT consulting company where I was able to concurrently teach myself web development with the help of appacademy.io.</p>

 <p>My GitHub: http://www.github.com/teixeir3</p>
 <p>LinkedIn: http://www.linkedin.com/in/dougteixeira/en</p>
 <p>https://www.tumblr.com/blog/teixeir3</p>

 <p>Example websites:</p>
 <p> http://www.clark-travel.com</p>
 http://www.branchburgdoctors.com</p>
 
 <p>This portfolio is currently under construction</p>
