 <p class=""><%= link_to "Github", "http://www.github.com/teixeir3", target: "_blank" %> | <%= link_to "LinkedIn", "http://www.linkedin.com/in/dougteixeira/en", target: "_blank" %> |
 <%= link_to "Blog", "https://www.tumblr.com/blog/teixeir3", target: "_blank" %></p>